{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Musician Services | MediaCoin {% endblock %}

{% block content %}
<style>
 #musicianservice {
color:yellow;
}
p.artist__text {
color: white;
}
li { 
color: white;
}
#musicianservice {
margin-top: 115px;
}
</style>
    <section class="section section__refund">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="musicianservice">Services for Musicians</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="artist__text">
                        Success as a musician involves a lot of extra business skills, learning sales, advertising, marketing, budgeting, technology and publication. MediaCoin strives to provide custom solutions with your personal account representative to put you on the fast track to success. Whether you are already an established artist or starting from the beginning, our strategy will enhance your relationship with fans while letting you focus on the music. MediaCoin offers individual marketing services directly to musicians at our cost:
                    </p>
			</div></div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
					<ul>
						<li>Advertising:
							<ol>
								<li>MediaCoin advertising dollars</li>
								<li>Venues that advertise your gigs</li>
								<li>Online, print, social, guerilla advertising</li>	
							</ol>
						</li>
						<li>Events and Shows:
							<ol>
								<li>Booking gigs</li>
								<li>Music Festivals</li>
								<li>Access to our partner network</li>
								<li>Tell us the city, we set up the shows</li>
								<li>Gig, event and show management</li>
							</ol>
						</li>
						<li>Marketing:
							<ol>
								<li>Extra attendance for shows</li>
								<li>News and announcements for each gig and event</li>
								<li>Media syndication and sharing</li>
								<li>Social media syndication (posting and cross posting multiple accounts)</li>
								<li>Apparel, Fashion, Logo, Design and Brand creation</li>
							</ol>
						</li>
						<li>Payment:
							<ol>
								<li>Get paid directly for every music play</li>
								<li>Get paid directly by the venue for a gig, or make us handle it</li>
								<li>Prepaid credit card, Paypal, merchant card services</li>
							</ol>
						</li>	
                <li>Technology:
							<ol>
								<li>Twitter, Facebook, Instagram, and many more</li>
								<li>Publishing Content</li>
								<li>Streaming of Live Events</li>
								<li>Device specific access (ringtones)</li>
								<li>Content and Payment Security</li>
								<li>Website creation, hosting, SEO, promotion</li>
								<li>App tracking for contact management</li>
							</ol>
						</li>	
               </div>
                <div class="col-md-6 col-sm-12">
						<li>Marketplace:
							<ol>
								<li>Musicians looking for bands</li>
								<li>Bands looking for musicians</li>
								<li>Musicians trying to start a band</li>
								<li>Independent Remaster Marketplace</li>
								<li>Independent Designer Marketplace</li>
								<li>Independent Video Editing Marketplace</li>
								<li>Songwriter listings</li>
								<li>Vocaloid services</li>
								<li>Copyright licensing</li>
							</ol>
						</li>	
						<li>Legal:
							<ol>
								<li>Recording Contracts</li>
								<li>Legal Contracts</li>
								<li>Insurance where required</li>
								<li>Commercial Licensing (games, TV, commercials)</li>
							</ol>
						</li>	
						<li>Publication:
							<ol>
								<li>Discount Recording Studio Time</li>
								<li>CD Remastering</li>
								<li>Featured content on MediaCoin</li>
								<li>Appearances and coordination</li>
								<li>Two Way Live Streamings</li>
							</ol>
						</li>
						<li>Business:
							<ol>
								<li>Partnerships and Joint Ventures</li>
								<li>Discount access to services</li>
								<li>Shared travel and cost splits</li>
								<li>Accounting and Tax services</li>
							</ol>
						</li>	
						</div>
						<div class="row"><div class="col-sm-12">
				<p class="artist__text">
					What do we get out of it? Our Premier Service is only available to artists who provide MediaCoin with exclusive digital content access. By making artists who partner with us successful, our platform becomes more successful. This service is available for digital exclusive content because once songs are heavily pirated, we can&apos;t put the toothpaste back in the tube. Many users won&apos;t pay artists for content that is freely available, our goal is to prevent the files from being widely distributed without financial support.
				</p>
				<p class="artist__text">
					What won&apos;t we do? We won&apos;t tell you what music to play. We won&apos;t be responsible if you destroy a hotel room with a party (book your own hotels). We won&apos;t be responsible for your travel (book your own flights, we&apos;ll show you travel tricks). We don&apos;t want to be in the business of telling you what to do, you will be hiring us and we&apos;ll work for you. We might bail you out of jail... it depends. 
				</p>
                    <p class="artist__text">
                        Immutability of blockchain can not be undone, therefore, executed transactions
                        cannot be reversed. In the situation where token has been spent, there will be no
                        refund possibilities available.
                    </p>
                    <p class="artist__text">
                        We, at MediaCoin are not responsible and are under no liability for incidences
                        caused by PC malfunction, misunderstanding, or failure to adhere to policies and
                        procedures laid out in facets of our website.
                    </p>
                    <p class="artist__text">
                        Please be informed that MediaCoin is an ever evolving development and is not an
                        official currency, however, most institutions will still require you to pay income,
                        sales, capital gains, and/or any other applicable taxes on anything that has value,
                        including cryptocurrency.  We encourage you to consult an expert before making any
                        major investments, as it is your responsibility to adhere to legal and regulatory
                        mandates issued by government entities.
                    </p>
				</div></div>
                </div>
        </div>
    </section>
{% endblock %}
