{% extends 'base.html' %}

{% block title %}InventionCon Expo{% endblock %}


    

      


{% block content %}
<div id="main"> 
    <script src="/static/js/babylon.custom.js" type="text/javascript"></script>

     <!--
    <script src="hand.js"></script> 
    using hand.js to add touch events (test) -->

    <canvas id="renderCanvas"></canvas>
<script>
window.addEventListener('DOMContentLoaded', function() {
	var canvas = document.getElementById('renderCanvas'); //get the canvas element
	var engine = new BABYLON.Engine(canvas, true);  //generate the babylon 3D engine
	
	/*********** This adds the create scene function *************/
	var createScene = function() {
	    // Create a basic BJS Scene object (scene space).
	    var scene = new BABYLON.Scene(engine);

	    // Create a FreeCamera, and set its position to (x:0, y:5, z:-10).
	    var camera = new BABYLON.FreeCamera('camera', new BABYLON.Vector3(0, 5,-10), scene);

	    // Target the camera to scene origin.
	    camera.setTarget(BABYLON.Vector3.Zero());

	    // Attach the camera to the canvas.
	    camera.attachControl(canvas, false);

	    // Create a basic light, aiming 0,1,0 - meaning, to the sky.
	    var light = new BABYLON.HemisphericLight('light1', new BABYLON.Vector3(0,1,0), scene);

	    // Create a built-in "sphere" shape. 
	    var sphere = BABYLON.MeshBuilder.CreateSphere('sphere', {segments:16, diameter:2}, scene);

	    // Move the sphere upward 1/2 of its height.
	    sphere.position.y = 1;

	    // Create a built-in "ground" shape.
	    var ground = BABYLON.MeshBuilder.CreateGround('ground1', {height:6, width:6, subdivisions: 2}, scene);

	    // Return the created scene.
	    return scene;
	}

	/******* End of the create scene function ******/  

	var scene = createScene();  //call the createScene function

	engine.runRenderLoop(function() { //register a render loop to repeatedly render the scene
	    scene.render();
	});
	window.addEventListener('resize', function() { //watch for browser/canvas resize events
	    engine.resize();
	});
});
</script>
</div>
{% endblock %}

