
{% extends 'base.html' %}

{% block title %}DROIT GROUP{% endblock %}

{% block content %}
  
<!--
  <h2>Home</h2>
  <a href="expo.html">Convention</a>

-->

<!-- TOP SECTION "HOME"-->
<section id="home">

    <div class="section section-header">        
        <div class="container event-top">
            <div class="content">
                <div class="container-fliud">
                    <div>
                        <h1 id="mainheader">Droit <br> Group</h1>     
                        <h2 id="secondary">Data Sharing API</h2>
                        <h3 id="tertiary">Real Asset Managment and Sensor Data <br> Task Confirmation and Reporting <br> for Integrated Workflows</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


 <!--   ABOUT SECTION -->
<section id="about">
    <div class=content">
        <div class="container">
    		<div class="col-md-12">
    			<h3 id="quad-head">We are a consortium of <b>blockchain enabled companies </b> providing benefits to clients and customers.  Our data sharing API provides asset management, task confirmation and verifies the data integrity for all members and clients.  Publishing workflow to blockchain maximizes efficiency and reduces cost.
                </h3>
                <h3 id="quad-head">
                Data is accessible on any secure device and with enterprise level support.  We add value, transparency and integrity to every step of the project with data driven incentives by increasing work quality and reducing downtime. 
                </h3>
                <h3 id="quad-head">
                This process sets Droit Group apart from the rest.
                </h3>
    		</div>
        </div>
        <div class="row">
            <div class="my-flex-container">
        		<div>
        			<img src="/static/img/droit-member-benefits600.png" style="padding: 10px 10px 0px 10px" />
        		</div>
        		<div>
        			<img src="/static/img/droit-client-benefits600.png" style="padding: 10px 10px 0px 10px" />
        		</div>
        		<div>
        			<img src="/static/img/droit-customer-benefits600.png" style="padding: 10px 10px 0px 10px" />
        		</div>
            </div>
        </div><!-- /.container-fluid-->    
    </div><!-- /.each-feature -->    
</section><!-- /.section -->      
<!-- END OF ABOUT SECTION -->


<!-- Image Space 1-->
<div class="section features">
    <div class="each-feature event-image-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-6" id="tertiary">

                            <h3>Transforming your workflow with blockchain. </h2>
                            <h3>Going beyond just supply chain management, we'll keep your team working. <br><br>
                                Real-time tracking and transparency for construction management.</h3>
                        </div><!-- /.col-md-6 -->
                        <div class="my-flex-container2">
                            <button class="my-bc-button">
                                <a href="/static/img/blockchain-white.png" class="my-bc-button button2:hover">What is Blockchain?</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end of Image space 1-->

<!-- Services Section -->
<section id="services" class="bg-white">
    <div class="each-feature event-image-3">
        <div class="container">
            <div class="row" style="padding-top: 60px; padding-bottom: 60px">
                <div class="col-md-6">
                    <!-- Display image -->
                    <!-- Optional video embed code -->
                    <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                       <!--
                        <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    -->
                    <!-- </div> -->
                </div><!-- /.col-md-6 -->

                <div class="col-md-6" style="background:rgba(255,255,255, 0.7); border-radius: 10px;">
                    <h1 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">Services</h1>
                    <br>
                    <h3 class="quad-head">Droit Group needs over 30 different company roles filled in order to provide complete client services.</h3>
                    <h3 class="quad-head">To ensure all companies can work together, we provide a single blockchain API so everyone can share data.</h3>
                    <h3 class="quad-head">Working with multiple blockchains, developing mobile apps and making sure our members get products built is our core service.</h3>
                    <br>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container --> 
    </div><!-- /.each-feature -->        
</section><!-- /.section -->   

<!-- end of Services -->


<!-- Image Space 2 with text-->
<section id="keys">    
    <div class="each-feature event-image-9" style="padding-top: 60px; padding-bottom: 60px">
        <div class="container" style="margin-top: 10px; margin-bottom: 10px">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">Customers, Clients and Members Data</h2>
                    <h3 class="quad-head">Everyone owns their own data. We use <a href="https://mediacoin.stream/">MediaCoin.Stream</a> enterprise technology to provide a secure window of access into your data.</h3>
                    <h3 class="quad-head">Files can be referenced and stamped on the blockchain, but distributed by any means. Every user can check the validity of the file and know their copy is both current and correct.</h3>
		</div>
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-5" style="color:#eee;">
                    <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase">&nbsp;</h3>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Image Space 3
<div class="section features">
    <div class="each-feature event-image-4">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

{% endblock %}
