
{% extends 'base.html' %}

{% block title %}InventionCon{% endblock %}

{% block content %}
  
<!--
  <h2>Home</h2>
  <a href="expo.html">Invention Expo</a>

-->

<!-- Section - Hero Start -->
<section id="hero-bg-video" class="bg-img-cover bg-overlay-black-7 h-100 p-0">

<div class="section section-header">        
            <!-- BG Video -->
    <div id="bgVideoYouTube" class="player" 
                 data-property="{videoURL:'https://www.youtube.com/watch?v=KDCTHQLsFqk', containment: '#hero-bg-video', autoPlay: true, mute: true, showControls: false, quality: 'high', startAt: 0, opacity: 1, loop: true}"
                 data-video-poster="static/images/bg-hero.jpg" style="padding-top: 100vh">
            
            <!-- //.player -->
            
        <div class="container h-100">
            <div class="content custom-content">
                <div class="title-area" style="padding-top: 100px">
                     <h1 class="title-modern h-100 font-w-700 custom-header-title hidden-x text-uppercase">InventionCon</h1>
                        <h2 class="font-alt font-w-700 letter-spacing-1 mt-3 text-gray-200 text-medium text-uppercase" style="padding-top: 40px">Your Virtual Invention Trade Show!</h2><br><br><br>
                        <a href="/static/index.html" class="btn btn-white btn-fill-oj btn-lg custom-header-but">Enter</a>

                <!-- <div class="separator line-separator hidden-xs">♦</div> -->
            </div>

        </div>

            <!-- <div class="container h-100"> -->
                <!-- <div class="row align-items-center h-100 justify-content-center">
                    <div class="col-lg-10 col-xl-7 text-center">
                        <h2 class="font-alt font-w-700 letter-spacing-1 mt-3 text-gray-100 text-uppercase title-large title-sm-extra-large title-md-extra-large-3 title-lg-extra-large-5">InventionCon</h2>
                        <h3 class="font-alt font-w-600 letter-spacing-1 mt-3 text-gray-200 text-medium text-uppercase">Your Virtual Invention Trade Show!</h3>
                        <a href="/expo.html" class="page-scroll btn btn-blue btn-small btn-lg-large mt-4 mx-0">Enter</a>
                    </div>
                    <!-- //.col-lg-10 -->
                <!-- </div> --> 
    </div>            <!-- //.row -->
    </div>
            <!-- //.container -->
</section>
        <!-- //Section - Hero End -->


        <!-- Section - About Start -->
        <section id="about" class="bg-white">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-6 text-center mb-3 mb-lg-5">
                        <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">About This Expo</h2>
                        <span class="d-block font-alt font-w-700 letter-spacing-1 mt-2 text-black-800 text-small text-uppercase">What you will experience:</span>
                        <br>
                        <span class="bg-blue d-block mt-4 mx-auto sep-line-medium-thick-long"></span>
                    </div>
                    <!-- //.col-lg-6 -->
                </div>
                <!-- //.row -->
                
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-xl-5 text-center text-lg-left" style="padding-bottom: 50px">
                        <p class="font-alt font-w-600 letter-spacing-1 text-medium text-uppercase">One of kind interactive virtual trade show for inventors and makers. <br></p>
                        <p class="text-medium">
                            Are you an Inventor? 
                            <br><br> 
                            Do you have a product to sell? 
                            <br><br> 
                            Investors and enthusiasts from around the world will be able to view a 3D representation of your invention. 
                            <br><br> 
                            Sign up for your exhibit booth today!</p>
                            
                        <a href="/signup.html" class="btn btn-white btn-fill-oj btn-lg custom-header-but">Inventors</a>
                    </div>
                    <!-- //.col-lg-6 -->
                
                    <div class="col-lg-6 offset-xl-1">
                        

                        <div class="row">
                           
                            <div class="col-sm-2 mt-5 mt-lg-0 text-center text-lg-left">
                                <i class="fa fa-lightbulb-o fa-3x" style="color: orange"></i>
                            </div>
                            <div class="col-sm-4 mt-5 mt-lg-0 text-center text-lg-left">
                                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Inventors</span>
                                <p class="mb-0 mt-2 text-medium">
                                    Showcase your latest invention in our virtual expo. 
                                    
                                </p>
                            </div>
                            <!-- //.col-sm-6 -->

                             <div class="col-sm-2 mt-5 mt-lg-0 text-center text-lg-right">
                                <i class="fa fa-line-chart fa-3x" style="color: green"></i>
                                </div>
                                <div class="col-sm-4 mt-5 mt-lg-0 text-center text-lg-right">
                                 <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Investors</span>
                                <p class="mb-0 mt-2 text-medium">
                                   Discover new investment opportunities. 
                                   
                                </p>
                            </div>
                            <!-- //.col-sm-6 -->

                            <div class="col-sm-2 mt-5 mt-lg-0 text-center text-lg-left">
                                <i class="fa fa-cart-plus fa-3x" style="color: blue"></i>
                            </div>
                            <div class="col-sm-4 mt-5 mt-lg-0 text-center text-lg-left">
                                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Enthusiasts</span>
                                <p class="mb-0 mt-2 text-medium">
                                  Purchase ready to ship inventions and products. 
                                  
                                </p>
                            </div>
                            <!-- //.col-sm-6 -->

                            
                            <div class="col-sm-2 mt-5 mt-lg-0 text-center text-lg-right">
                                <i class="fa fa-buysellads fa-3x" style="color: red"></i>
                            </div>
                            <div class="col-sm-4 mt-5 mt-lg-0 text-center text-lg-right">
                                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Sponsors</span>
                                <p class="mb-0 mt-2 text-medium">Sponsor an invention or buy an exhibit for advertising.</p>
                            </div>
                            <!-- //.col-sm-6 -->
                        </div>
                        <!-- //.row -->
                    </div>
                    <!-- //.col-lg-6 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //Section - About End -->

    <!-- sponsor section -->
    <div class="section features">
        <div class="each-feature event-sponsor">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-8 col-xs-12 float-right">
                                <div class="info-icon round-bg">
                                    <h3 class="font-alt font-w-700 letter-spacing-2 text-uppercase text-white">Interested in sponsoring an exhibit?</h3>
                                    <p class="font-alt font-w-600 text-white">
                                        Support an inventor by sponsoring their booth space. Or alternatively, advertise your business or services within the expo.  
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-8 col-xs-12 float-right" >
                                <div class="info-icon" style="padding-top: 200px" >
                                    <div class="icon text-danger" style="padding-bottom: 200px" >
                                        <a href="/signup.html" class="btn btn-white btn-fill-oj btn-lg custom-header-but">Become A Sponsor</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

       

{% endblock %}
