
{% extends 'base.html' %}

{% block title %}DROIT GROUP{% endblock %}

{% block content %}
  
<!--
  <h2>Home</h2>
  <a href="expo.html">Invention Expo</a>

-->

<!-- TOP SECTION "HOME"-->
<section id="" class="bg-img-cover bg-overlay-black-7 h-100 p-0">

<div class="section section-header">        
            
            
            <!-- //.player -->   
        <div class="container h-100 each-feature event-top">
            <div class="content custom-content">
                <div class="title-area" style="padding-top: 100px">
                     <h1 class="title-modern h-100 font-w-700 custom-header-title hidden-x text-uppercase">Droit Group</h1>
                        <h2 class="font-alt font-w-700 letter-spacing-1 mt-3 text-gray-200 text-medium text-uppercase" style="padding-top: 40px">
                        Data API for Blockchain<br>
                        Real Asset managment and reporting for integrated workflows</h2><br><br><br>
                        <!-- <a href="/static/index.html" class="btn btn-white btn-fill-oj btn-lg custom-header-but">Enter</a> -->

                <!-- <div class="separator line-separator hidden-xs">♦</div> -->
                </div>
            </div>
        </div>            <!-- //.row -->
</div>
            <!-- //.container -->
</section>
<!-- //Section End -->


 <!--   ABOUT SECTION -->
<section id="about" class="bg-white" style="padding-top: 60px; padding-bottom: 60px">
    <div class="container" style="margin-top: 20px; margin-bottom: 20px">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Transforming your workflow with blockchain. </h2>
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small>(Place holder &amp; Place holder)</32>
                <h3 class="caption gray">Real-time tracking and transparency for construction management.</h3>
                <p></p><br>

                <!-- <blockquote><b> </b>
                    <span><i> /i></span>
                </blockquote>
 -->
                <br><br>
               

            </div><!-- /.col-md-6 -->
            
            <div class="col-md-6">
                <!-- Display image -->
                <img src="/static/img/background-images/hand-flow-chart.jpg" class="img-responsive">
                <!-- Optional video embed code -->
                <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                   <!--
                    <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                -->
                <!-- </div> -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->    
</section><!-- /.section -->      
<!-- END OF ABOUT SECTION -->


<!-- Image Space 1-->
<div class="section features">
    <div class="each-feature event-image-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end of Image space 1-->

<!-- Services Section -->
<section id="services" class="bg-white" style="padding-top: 60px; padding-bottom: 60px">
    <div class="container" style="margin-top: 10px; margin-bottom: 10px">
        <div class="row">
            <div class="col-md-6">
                <!-- Display image -->
                <img src="/static/img/background-images/blueprint.jpg" class="img-responsive">
                <!-- Optional video embed code -->
                <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                   <!--
                    <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                -->
                <!-- </div> -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Services </h2>
                <br>
                <h3>place holder</h3>
                <br>
                <p>place holder</p>
                <br>
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Bottom line</h3>

            
                <br><br>
               

            </div><!-- /.col-md-6 -->
            
            
        </div><!-- /.row -->
    </div><!-- /.container -->    
</section><!-- /.section -->   

<!-- endd of Services -->


<!-- Image Space 2-->
<div class="section features">
    <div class="each-feature event-image-2">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Image Space 3-->
<!-- <div class="section features">
    <div class="each-feature event-image-4">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

            <!--MEDIA SECTION -->

            <div class="col-md-6">
                <!-- Display image -->
                <img src="/static/img/background-images/blueprint.jpg" class="img-responsive">
                <!-- Optional video embed code -->
                <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                   <!--
                    <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                -->
                <!-- </div> -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->    
</section><!-- /.section -->      


 <!-- DEMO Carousel Heading -->
    <section  id="augmented" class="bg-white" id="work">
      <div class="container text-center">
        <div class="content custom-content">
            <h2>Augmented MetaData</h2>
            <hr class="colored">
            <p>X-RAY vision without the headaches</p>
          </div>
    </section>

    <!-- Portfolio Carousel -->
    <div class="portfolio-carousel fadeIn owl-carousel owl-theme">

      <!-- Portfolio Carousel Item 1 -->
      <div class="item" style="background-image: url('/static/img/carousel/bg-1.jpg')">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col-md-7 my-auto d-none d-sm-block">
              <div class="device-container">
                <div class="device-mockup macbook portrait black">
                  <div class="device">
                    <div class="screen">
                      <img class="img-fluid" src="/static/img/carousel/screen-1a.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 my-auto">
              <div class="project-details">
                <span class="project-name">Project Name</span>
                <span class="project-description">Branding, Website Design</span>
                <hr class="colored">
                <a href="#portfolioModal1" data-toggle="modal" class="btn btn-primary">View Details
                  <i class="fa fa-long-arrow-right fa-fw"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Image Space 4-->
<div class="section features">
    <div class="each-feature event-image-3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
