<!-- Section - About Start -->
        <section id="about" class="bg-white">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-6 text-center mb-3 mb-lg-5">
                        <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">About This Expo</h3>
                        <span class="d-block font-alt font-w-600 letter-spacing-1 mt-2 text-gray-800 text-small text-uppercase">What you will experience</span>
                        <span class="bg-blue d-block mt-4 mx-auto sep-line-medium-thick-long"></span>
                    </div>
                    <!-- //.col-lg-6 -->
                </div>
                <!-- //.row -->
                
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-xl-5 text-center text-lg-left">
                        <p class="font-alt font-w-600 letter-spacing-1 text-medium text-uppercase">One of kind interactive virtual trade show for inventors and makers. <br></p>
                        <p class="text-medium">
                            Are you an Inventor? 
                            <br><br> 
                            Do you have product to sell? 
                            <br><br> 
                            Investors and enthusiasts from around the world will be able to view a 3D representation of your invention. 
                            <br><br> 
                            Sign up for your exhibit booth today!</p>
                            
                        <a href="#inventor" class="page-scroll btn btn-outline-black btn-small border-thick mt-2 mx-0">Inventors</a>
                    </div>
                    <!-- //.col-lg-6 -->
                    
                    <div class="col-lg-6 offset-xl-1">
                        <div class="row">
                           
                            <div class="col-sm-6 mt-5 mt-lg-0 text-center text-lg-left">
                                <i class="fa fa-lightbulb-o fa-3x text-blue"></i>
                                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Inventors</span>
                                <p class="mb-0 mt-2 text-medium">
                                    Showcase your latest invention in our virtual expo. 
                                    
                                </p>
                            </div>
                            <!-- //.col-sm-6 -->

                             <div class="col-sm-6 mt-5 mt-lg-0 text-center text-lg-left">
                                <i class="fa fa-line-chart fa-3x text-blue"></i>
  +                              <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Investors</span>
                                <p class="mb-0 mt-2 text-medium">
                                   Discover new investment opportunities. 
                                   
                                </p>
                            </div>
                            <!-- //.col-sm-6 -->

                            <div class="col-sm-6 mt-5 text-center text-lg-left">
                                <i class="fa fa-cart-plus fa-3x text-blue"></i>
                                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Enthusiasts</span>
                                <p class="mb-0 mt-2 text-medium">
                                  Purchase ready to ship inventions and products. 
                                  
                                </p>
                            </div>
                            <!-- //.col-sm-6 -->

                            
                            <div class="col-sm-6 mt-5 text-center text-lg-left">
                                <i class="fa fa-buysellads fa-3x text-blue"></i>
                                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-3 text-medium text-uppercase">For Sponsors</span>
                                <p class="mb-0 mt-2 text-medium">Sponsor an invention or buy an exhibit for advertising.</p>
                            </div>
                            <!-- //.col-sm-6 -->
                        </div>
                        <!-- //.row -->
                    </div>
                    <!-- //.col-lg-6 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //Section - About End -->
