{% extends 'base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
<div id="main">
    
    <!--CONTENT SECTION-->

    <section id="members-top" class=bg-white> 
            
        <div class="each-feature event-image-6">
            <div class="transbox text">
            <div class="container" style="padding-top: 38px">
                
                <div class="row">
                    <div align="middle">

                        <h1 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase" style="font-size:8vw">Members</h1>
                        <h2 class="font-alt font-w-700 letter-spacing-2 text-uppercase title-small">Droit Group members are creating the new real estate economy</h2>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Bottom line</h2>
                        <br>
                        <br>
                    </div>
                </div> 
            </div>
        </div>

    </section>
        <!-- Property Facto -->
        <div class="container" style="padding-top: 60px">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/propertyfacto_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">

                                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 title-small" >Property Facto</h2>
                                <p>Managing the history of real estate and reporting on the blockchain and providing a trusted location for holding property records</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <!-- that ID company -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">

                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">Revix</h3>
                                <p>Identity Management</p>
 
                                <p>Know Your Customer</p>

                                <p>Verification</p>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
	
    <!--VIDIBID -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/vidi_bid_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">

                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">What is VidiBid?</h3>
                                <p>
                                <br>
                                (place holder)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--VIDIBUILD -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/vidi_build_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">
                                
                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">What is VidiBuild?</h3>
                                <p>
                                    
                                <br>
                                (place holder)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--VIDITOOLS -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/vidi_tool_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">
                             
                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">What is VidiTools?</h3>
                                <p>
                                    
                                <br>
                                (place holder)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
