{% extends 'base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
<div id="main">
    
    <!--CONTENT SECTION-->

    <section id="members-top" class=bg-white> 
            
        <div class="each-feature event-image-6">
            <div class="transbox text">
            <div class="container" style="padding-top: 38px">
                
                <div class="row">
                    <div align="middle">

                        <h1 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase" style="font-size:8vw">Members</h1>
                        <h2 class="font-alt font-w-700 letter-spacing-2 text-uppercase title-small">Droit Group members are creating the new real estate economy</h2>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <!-- <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Bottom line</h2> -->
                        <br>
                        <br>
                    </div>
                </div> 
            </div>
        </div>

    </section>
        <!-- Property Facto -->
        <div class="container" style="padding-top: 60px">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <br>

                                <a href="#">
                                    <img src="/static/img/logos/property facto2a.png" style="height: 80px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">

                                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 title-small" >Property Facto</h2>

                                <h5 class="quad-head">
                                    Managing the history of real estate and reporting on the blockchain and providing a trusted location for holding property records
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <!-- that ID company -->
        <!-- 
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">

                                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">Revix</h2>
                                <p class="font-alt font-w-700 letter-spacing-2 m-0 title-small">Identity Management and Verification</p>
 
                                <p>Know Your Customer</p>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    -->
    <!--cecifood.com -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <br>
                                <br>
                                <a href="#">
                                    <img src="/static/img/logos/cestlogo2.png" style="height: 80px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">

                                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">
                                    C'est Food
                                </h2>
                                

                                <h5 class="quad-head">
                                    Restaurant Health Inspection Reports on the Blockchain for Your Convenience
                                </h5>

                                <p>
                                <i>Bon Appétite!</i>
                                </p>
                                <br>
                                <br>


                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
	
    <!--cecifood.com -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <br>
                                <br>
                                <a href="#" class="info-icon">
                                    <img src="/static/img/logos/vidi_bid_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">

                                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">VidiBid</h3>
                                
                                <h5 class="quad-head">
                                    VidiBid will list properties, connect with prospective clients and vendors, display site details, provide conditions of project, and draw up real estate contracts. VidiBid also covers proposals to undertake, or manage the undertaking of a construction project. The process starts with a cost estimate from blueprints and material take offs.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--VIDIBUILD -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <br>
                                <br>
                                <a href="#" class="info-icon">
                                    <img src="/static/img/logos/vidi_build_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">
                                
                                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">VidiBuild</h2>
                                    
                                <h5 class="quad-head">
                                    VidiBuild is focused on the entire build process with integrated data collection from VidiTool. It will be the source for information about a facility, forming a reliable basis for decisions during its life-cycle; existing from earliest conception to demolition.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--VIDITOOLS -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <br>
                                <br>
                                <a href="#" class="info-icon">
                                    <img src="/static/img/logos/vidi_tool_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon" style="color: black;">
                             
                                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">VidiTools</h2>

                                <h5 class="quad-head">
                                    An app with current reports, verification and data awareness for construction projects. Changes from the build are collected and shared in real time which means that for the first time, work is verified as it is done. This eliminates errors, the need for rework, and keeps projects on schedule. 
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
