{% extends 'base.html' %}

{% block title %}Members{% endblock %}

{% block content %}
    <div id="main" style="padding-top: 86px"> 
            <!--CONTENT SECTION-->

        <div align="middle">
                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Members </h2>
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Droit Group members are creating the new real estate economy</h3>
                <h3 class="caption gray">grey holder?</h3>
                <br>
                <h3>place holder</h3>
                <br>
                <p>place holder</p>
                <br>
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Bottom line</h3>
                <br>
               
        </div>
        <!-- Property Facto -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/propertyfacto_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">

                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">PF Tagline</h3>
                                <p>Managing the history of real estate and reporting on the blockchain and providing a trusted location for holding property records</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- that ID company -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/vidi_bid_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">

                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">Revix tagline?</h3>
                                <p>
                                <br>
                                (place holder)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
	
        <!--VIDIBID -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/vidi_bid_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">

                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">What is VidiBid?</h3>
                                <p>
                                <br>
                                (place holder)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--VIDIBUILD -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/vidi_build_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                
                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">What is VidiBuild?</h3>
                                <p>
                                    
                                <br>
                                (place holder)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--VIDITOOLS -->
    
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <a href="#" class="info-icon round-bg">
                                    <img src="/static/img/logos/vidi_tool_logo.png" style="height: 60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                             
                                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 title-small">What is VidiTools?</h3>
                                <p>
                                    
                                <br>
                                (place holder)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
