<!-- Header Section 1 -->
<header class="header-light fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 navbar-header">
                <a class="navbar-brand page-scroll" href="/index.html">
                    <img src="/static/img/loading_logo.png" alt="" class="logo-text-dark">
                    <img src="/static/img/loading_logo.png" alt="" class="logo-text-light">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- Section 2-->


            <div class="col-lg-6 navbar-wrapper justify-content-center">
                <div id="navigation" class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbar-header">
                        <ul class="navbar-nav" style="list-style-type: none;">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="/index.html#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="/expo.html">Expo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#signup">Sign Up</a>
                            </li>

                        
                            <li class="nav-item">
                            
                                        {% if user.is_authenticated %}
                                        {% if user.is_staff %}
                                            <a href="/admin/">Admin</a>
                                        {% endif %}

                                        <a>Logout</a>
                                        {% else %}

                                <a class="nav-link page-scroll" href="/login.html">Login</a>
                            {% endif %}
                            </li>
                            <li class="nav-item d-lg-none">
                                <a class="nav-link page-scroll" href="#contact">Contact Us</a>
                            </li>
                         


                        </ul>
                    </div>
                    <!-- //.navbar-collapse -->
                </div>
                <!-- //.navbar -->
            </div>
            
            
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</header>
